
<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Billet</title>
<style>
  html, body {
  background: #fff;
  width: 100%;
  margin: 0;
}
page {
  background: #fff;
  display: block;
  margin: 0 auto;
  border: 0;
  width:100%;

}
page[size="A4"] {
  width: 21cm;
  height: 29.7cm;
  overflow: hidden;
}

h1 {
font-family: 'Amatic SC', cursive;
color: #0d2131;
font-size: 5em;
padding: 0;
margin: 0;
}



.container{
  margin: -50px 0 0 0;
  padding-left: 50px;
  padding-right: 50px;
font-family: 'Montserrat', sans-serif;
color: #0d2131;
}

p {
  font-size: 0.9em;
}

.message {
  margin: 0 auto;
  width: 80%;
  padding:  20px;
  background-color: #dbe0f4;}

label{
  border: 2px solid #0B3FC1;
    text-align: center;
    min-width: 100px;
    padding: 12px 40px;
    font-size: 1.2em;
    letter-spacing: .3px;
}

.bloc_tarif{

  margin: 0 auto;
  width: 80%;
    background: transparent url(<%= wicked_pdf_asset_base64("offrir-background.png") %>) center top repeat-y;
    padding: 30px;
    margin-top:45px;
    margin-bottom: 45px;
}

.bloc_tarif_inner {
  background-color: #fff;
  border: 2px solid #0B3FC1;
    color: #002134;
        max-width: 80%;
padding: 10px 10px 10px 10px;
    margin: 0 auto;
    text-align: center;}

        a {color: #0B3FC1;
      font-weight: 800;
    text-decoration: underline;}


@media print {
  body, page {
    margin: 0;
    box-shadow: 0;
  }
}
</style>

<link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Montserrat:wght@400;800&display=swap" rel="stylesheet">

</head>

<body>
  <page>
    <%= image_tag wicked_pdf_asset_base64("entete.png"), width: "100%" %>
    <div class="container">

  <h1>VOTRE BILLET <%= image_tag wicked_pdf_asset_base64("picto-ticket-bleu-pdf.svg"), width: "20%" %> </h1>

  <div class="bloc_tarif">
    <div class="bloc_tarif_inner" >
  <p><p><span style="font-family: 'Amatic SC', cursive; font-size: 1.2em;">Votre réservation</span></p><p><label><%= @booking.cart_item.quantity %> * <%= I18n.t("activerecord.attributes.workshop_price.categories.#{@booking.price_category}") %> <%= short_number_to_currency(@booking.price) %></label></p><br>
    <p><span style="font-weight: 800; font-size: 1.2em;">Pour l'atelier <%= @booking.workshop_event.workshop.title %> !</span></p>
    </div>
  </div>

  <center><p><%= image_tag wicked_pdf_asset_base64("soulignement-bleu.svg"), width: "50%" %></p></center>

  <p><span style="font-size: 1.2em; font-weight: 900; color:#0B3FC1 ">INFOS :</span></p>
    <p style="width: 70%; display:flex; justify-content: space-between;">
      <span>Date : <%= I18n.l @booking.workshop_event.start_time, format: :event %></span>
      <span>Durée : <%= workshop_duration(@booking.workshop_event.workshop) %></span>
    </p>
    <p><span>Lieu : <%= @booking.workshop_event.workshop.address.to_s %></span></p>
    <p><span style="font-size: 0.9em;">Rendez-vous sur <b><%= link_to "la page de l'atelier", workshop_url(@booking.workshop_event.workshop) %></b> ou sur <a href="https://mesateliersdiy.fr/mon-compte/edit"><b>votre compte</b></a> pour plus d'infos</span></p>


  <center><p style="padding: 15px 0 10px 0;"><%= image_tag wicked_pdf_asset_base64("soulignement-bleu.svg"), width: "50%" %></p></center>


  <center><p style="padding: 5px;"><span style="font-family: 'Amatic SC', cursive; font-size: 1.7em; font-weight: 700;">AVEC MES ATELIERS DIY, DÉVELOPPEZ VOTRE CRÉATIVITÉ AUPRÈS DES CRÉATEURS DE VOTRE RÉGION.</span></p></center>

  <p style="font-size:0.8em;; font-weight: 800;">Réservez votre prochain atelier créatif à La Rochelle</p>
  <p style="font-size:0.8em;;">Choisissez un atelier sur <a href="https://mesateliersdiy.fr/"><b>​mesateliersdiy.fr</b></a>​ parmi de nombreux thèmes, initiez vous aux savoir-faire de créateurs de votre région et repartez avec votre création personnalisée à la fin de l’atelier ! </p>
    </div>
   <div style="padding-top: 5px;"><%= image_tag wicked_pdf_asset_base64("photos_ateliers.jpg"), width: "100%" %></div>
  </page>
</body>
</html>
