<section class="section-header-content">
  <div class="section-content">
    <h1>À Propos</h1>
  </div>
</section>

<section class="section-titre section-padding">
  <div class="section-content">
    <header><h2 class="titre-amatic">Développez votre créativité <br/>Auprès des créateurs de votre région.</h2></header>
  </div>
</section>

<section class="section-concept section-padding">
  <div class="section-content">
    <div class="flex">
      <div class="colonne colonne1"><%= image_tag "section-concept-photo.jpg", class: "visuel" %></div>
      <div class="colonne colonne2">
        <h3 class="souligne droite">Le concept</h3>
        <p>A l’heure où de plus en plus de français se tournent vers le fait-main et souhaitent réaliser ou créer eux-mêmes, le Do it yourself devient une tendance
          indiscutable dont les ateliers créatifs servent de moteur. Mais il n’est pas toujours simple de concurrencer les grandes enseignes qui surfent sur la tendance.
          C’est justement pour offrir aux créateurs, animateurs, artisans, makers, plus de visibilité et de support qu'est né le concept «Mes ateliers DIY».</p>
        <p>Mes ateliers DIY centralise et met en avant l’offre d’ateliers créatifs de la région autour du partage et du faire ensemble, participant ainsi à l’économie locale
          et au rayonnement territorial en terme de créativité ! Mes ateliers DIY favorise les temps d’échange et la transmission du savoir-faire renforçant le lien
          intergénérationnel entre les habitants de l’agglomération de la Rochelle.</p>
        <p>Par une mise en avant du DIY, de la créativité, mais aussi une sensibilisation à l’éco-responsabilité à travers des ateliers thématiques type upcycling, zéro-déchet,
          etc…, Mes ateliers DIY souhaite s’investir dans le développement d’une pratique créative respectueuse et durable accessible à tous.</p>
      </div>
    </div>
  </div>
</section>

<section class="section-vague-bleue section-apropos-avantages">
  <%= image_tag "section-apropos-avantages-bg-top.png", width: "100%", class: "bg-bottom" %>
  <div class="content">
    <div class="section-content">
      <h3 class="souligne gauche droite">Les avantages</h3>
      <div class="grid">
        <div class="avantage">
          <figure><%= image_tag "picto-atelier1.svg" %></figure>
          <h4>Pour les créateurs / <br/>Animateurs / artisans / makers</h4>
          <p>Plus grande visibilité de vos ateliers et support organisationnel </p>
          <p>Génération de revenus annexes facilitée en dehors de vos créations</p>
          <p>Mise en ligne des ateliers en toute simplicité</p>
          <p>Une offre d’accompagnement pour vous aider dans votre stratégie de marque et votre communication</p>
          <p>Participation à une communauté de créateurs animée favorisant l’échange et l’émergence d’opportunités.</p>
          <a href="/pages/proposer-atelier" class="btn-cta">Proposer un atelier</a>
        </div>
        <div class="avantage">
          <figure><%= image_tag "picto-atelier2.svg" %></figure>
          <h4>Pour les particuliers, <br/>passionnés ou curieux de diy</h4>
          <p>Recherche facile d’un atelier dans la région parmi un vaste choix de thèmes</p>
          <p>Multiplication des expériences pour vous épanouir et développer votre créativité</p>
          <p>Réservation et paiement en ligne en toute simplicité</p>
          <p>Privatisation d’ateliers et offre sur mesure pour tous vos évènements privés : anniversaire, evjf, mariage ...</p>
          <%= link_to "Trouver un atelier", workshops_path, class: "btn-cta" %>
        </div>
        <div class="avantage">
          <figure><%= image_tag "picto-atelier3.svg" %></figure>
          <h4>Pour <br/>les entreprises</h4>
          <p>Privatisation d'ateliers et offre sur mesure avec un interlocuteur unique qui vous suivra à toutes les étapes de l’organisation de votre évènement</p>
          <p>Une expérience unique pour vos employés et collaborateurs pour les aider à s’épanouir et développer leur créativité à travers des ateliers créatifs</p>
          <p>Des séances de team building créatifs pour apprendre à être plus innovant</p>
          <a href="/pages/evenements" class="btn-cta">Privatiser</a>
        </div>
      </div>
    </div>
  </div>
  <%= image_tag "section-apropos-avantages-bg-bottom.png", width: "100%", class: "bg-bottom" %>
</section>

<section class="section-apropos-valeurs section-padding">
  <div class="section-content">
    <div class="flex">
      <div class="valeurs">
        <h3 class="souligne droite">Les valeurs</h3>
        <ul>
          <li>Convivialité</li>
          <li>Partage</li>
          <li>Créativité</li>
          <li>Faire ensemble</li>
          <li>Découverte</li>
          <li>Transmission de savoir-faire</li>
          <li>Mise en avant de l’offre créative de la région</li>
        </ul>
      </div>
      <div class="suite double-colonne">
        <h3 class="souligne droite">La Suite</h3>
        <p>Devenir la référence en terme de booking d’ateliers créatifs / DIY à la Rochelle</p>
        <p>Élargir la plateforme à plusieurs villes/régions,</p>
        <p>Créer un café créatif, lieu dédié à la création à la Rochelle proposant des espaces aux créateurs, mais aussi aux amateurs passionnés et aux curieux. Et surtout un lieu de vie, un lieu cosy, simple et confortable pour toutes les pauses gourmandes.</p>
      </div>
    </div>
  </div>
</section>

<section class="section-apropos-parcours section-padding">
  <div class="section-content">
    <div class="flex">
      <div class="parcours">
        <h3 class="souligne droite">Mon parcours</h3>
        <p>Mes ateliers DIY est avant tout un projet de reconversion. Forte d’une expérience professionnelle de prêt de 10 ans dans la gestion de projet audiovisuelle et la communication, je souhaite prendre mon indépendance en mêlant deux de mes points fort : la créativité et l’organisation; Et ainsi créer mon entreprise à l’image de mes valeurs.<p>
        <p>Le DIY ont toujours joué un grand rôle dans ma vie, créativité cultivée par ma mère depuis ma tendre enfance à travers de nombreuses activités partagées. Et encore aujourd’hui je suis toujours en quête de nouvelles expériences créatives avec une curiosité d’enfant.</p>
      </div>
      <div class="photo-container">
        <%= image_tag "section-apropos-parcours-photo.jpg", class: "photo" %>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
$('.menu-item-apropos').addClass('current');
</script>
