<section class="section-header-content">
  <div class="section-content">
    <h1>Événements</h1>
  </div>
</section>

<section class="section-concept section-padding">
	<div class="section-content">
		<div class="flex">
			<div class="colonne colonne1">	<h3 class="souligne droite">Ateliers pour les particuliers</h3>
			

				<p>Des ateliers créatifs pour un <b>anniversaire</b>, <b>enterrement de vie de fille (EVJF)</b>, <b>enterrement de vie de garçon (EVG)</b>, <b>baby shower, soirée ou toute autre évènement privé.</b></p>
							<p><%= image_tag "evjf_babyshower.png", style: "width: 100%; height: auto; max-width: 100%; " %></p>
				<p><h4>Voici quelques exemples d’activités possibles :</h4>
					<ul>
					<li>Réalisation de couronnes de fleurs ou de bijoux fleuris</li>
					<li>Fabrication d’objets de décoration fleuris pour le mariage</li>
					<li>Réalisation d’une bougie ou clochefleurie</li>
					<li>Réalisation des cadeaux des invités</li>
					<li>Fabrication de cosmétiques ou savons naturels</li>
					<li>Atelier tissage ou macramé</li>
					<li>Personnalisation de tote bag ou de t-shirts</li>
					<li>Atelier couture ou broderie sur lingerie</li>
					<li>Atelier céramique</li>
					<li>Atelier Sérigraphie</li>
					<li>Réalisation d’un trousseau de naissance...</li>
				</ul></p>
 
				<p>Demandez un atelier DIY sur mesure ! Nous nous occupons de tout. Mes ateliers DIY adaptent les ateliers à vos envies et celles de la star du jour.</p>
<p>A domicile, dans un gîte ou dans l’ambiance intimiste d’un atelier de créateur, nos ateliers sont animés par des créateurs professionnels passionnés !	</p>				
<p>Vous souhaitez combiner plusieurs activités ? Pas de soucis, nous nous chargeons de vous organiser une journée inoubliable ! </p>

<p>Vous souhaitez regrouper vos ami(e)s aux quatre coins de la France ou du monde autour d'une activité commune ? Mes ateliers DIY vous organisent <b>un atelier en ligne sur mesure</b> avec envoi de kit en amont de l'atelier. Un moment convivial assuré ! </p>

<p><center><%= image_tag "atelier_DIY.png", style: "width: 60%; height: auto; max-width: 60%;" %></center></p>

			</div>
			<div class="colonne colonne2">
				<h3 class="souligne droite">Ateliers pour les entreprises</h3>
				
				<p><b>Mes ateliers DIY vous proposent un éventail varié d’activités possibles en ligne ou en présentiel, encadrés par des créateurs / animateurs professionnels, selon vos objectifs et le nombre de participants inscrits, mais aussi selon votre budget et vos envies !</b></p>
				<p>Des ateliers pour vos <b>séminaires, comités d'entreprise, sessions de team building, animations commerciales ou tout autre événement d’entreprise</b>, ou tout simplement <b>pour donner à vos salariés un moment de détente créative et de lâcher prise.</b> <br>
En effet, la créativité est une valeur précieuse en entreprise et une importante ressource pour l’innovation.</p>
				<p><h4>Voici quelques exemples d’ateliers possibles :  </h4>	
<ul><li>Atelier fresque participative pour créer ensemble une fresque symbolique autour des valeurs de votre entreprise</li>
<li>Ravaudage et customisation pour apprendre à transformer des objets et faire du neuf avec de l’ancien</li>
<li>Atelier végétal pour créer une fresque ou structure végétale collective</li>
<li>Atelier zéro-déchet pour mettre en avant les valeurs écologiques de votre entreprise</li>
<li>Tissage géant</li>
<li>Atelier culinaire</li>
<li>Atelier céramique … </li></ul></p>
 
 
<h4>Ateliers en visio  </h4>
<p>Organiser un atelier créatif en ligne est une solution idéale et originale pour répondre à des enjeux de bien-être individuel et d’harmonie collective en boostant la bonne humeur de vos salariés et en renforçant leur esprit d’équipe. D’autant plus en cette période de télétravail généralisé, où il est important d’apporter un peu de fraîcheur dans un quotidien dominé par la contrainte de la visioconférence.</p>
		<div class="flex">
			<div class="colonne colonne1"><%= image_tag "ateliers_visio.png", style: "width: 100%; height: auto; max-width: 100%; " %>
</div>
			<div class="colonne colonne2"><p>Alors offrez à vos salariés un moment de détente créative et de lâcher prise avec un atelier créatif en visio. <b>Challenges créatifs, créations à partir de kits</b> … Mes ateliers DIY vous accompagnent dans l'organisation de votre évènement en ligne : choix de votre atelier, préparation et envoi des kits, animation ... </p>
				 </div>
		</div>
		

<p>En savoir plus sur les avantages de l’atelier créatif et le DIY en entreprise:</p>
<center><a href="https://www.linkedin.com/pulse/team-building-f%25C3%25A9d%25C3%25A9rer-avec-latelier-cr%25C3%25A9atif-et-le-diy-sarah-delorme/?trackingId=2RbpzQgdkgmLWEJDtNCt5A%3D%3D" class="btn-cta" target="_blank">Team Building, Fédérer avec l’atelier créatif et le DIY</a></center>

<p>Pensez également aux cartes cadeaux pour vos cadeaux partenaires, collaborateurs ou salariés, pour Noël, anniversaire, départ en retraite, congés maternité, etc… </p>

<center><%= link_to "Offrir une carte cadeau", new_voucher_path, class: "btn-cta" %></center>

</p>
			</div>
		</div>
	</div>
</section>

<section class="section-concept ">
	<div class="section-content">
		<div class="flex">
			<div class="colonne colonne1"><%= image_tag "creation_contenu_DIY.png", style: "width: 100%; height: auto; max-width: 100%; " %></div>
			<div class="colonne colonne2">
				<h3 class="souligne droite">Création de contenus DIY <br>- photos et tutoriels</h3>
 <p><b>Vous souhaitez communiquer de manière créative sur vos produits ?</b>
Mes ateliers DIY vous accompagnent dans la <b>création de tutoriels DIY basés sur vos produits et votre marque </b>! Une belle façon de créer du lien avec vos clients et leur offrir une expérience créative incomparable en accord avec les valeurs de votre marque.
Sous forme <b>d’un article et/ou de visuels</b>, nous vous proposons la création de contenus ludiques mettant en avant votre univers mais aussi votre éthique. Vos produits et/ou packaging sont mis à l’honneur dans ces tutoriels pour une (ré)utilisation dans un contexte créatif.</p>
<p><b>Vous avez une démarche RSE et souhaitez sensibiliser votre clientèle à des manières alternatives de consommation ?</b> Les tutoriels créatifs sont parfaits pour cela. Dans l’air du temps, faciles mais surtout ludiques, ils permettront de mettre en avant vos valeurs, votre univers et votre éthique! Montrez à votre clientèle comment détourner ou customiser vos produits ou packagings en leur donnant une nouvelle vie avec l’idée de transformer plutôt que de jeter !</p>
	
<p>N’attendez plus pour demander la création d’un <b>contenu créatif exclusif</b> à intégrer dans votre communication (blog, site internet, réseaux sociaux, magazines...) !</p>			</div>
		</div>
	</div>
</section>

<section class="section-evenements-formule section-evenements-formule2 section-padding">
  <div class="section-content">
    <div class="flex">
      <!--<div class="big-puce-container">
        <div class="big-puce"><span>2</span></div>
      </div>-->
      <div class="double-colonne">
        <h3 class="souligne droite">Clé en main</h3>
        <p>Mes ateliers DIY s’occupe de tout et vous organise votre atelier sur mesure à votre image ou celle de votre entreprise.</p>
        <p><b>Contactez nous pour nous faire part de vos souhaits&nbsp;:</b></p>
        <div id="specific-workshop-contact-form">
          <%= render "specific_workshop_contacts/form", specific_workshop_contact: SpecificWorkshopContact.new %>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
$('.menu-item-evenements').addClass('current');
function onResize(){
  var h = $('#bg-bottom-formule1').innerHeight() * -1;
  $('.section-evenements-formule1').css('margin-bottom',h+'px');
}
$(document).ready(function(e){onResize();});
$(window).resize(function() {onResize();});
</script>
